@model CompanyViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Company.Id != 0 ? "Edit" : "Create") Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Company.Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.Name" class="form-control border-0 shadow" />
                            <label asp-for="Company.Name" class="ms-2"></label>
                            <span asp-validation-for="Company.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.StreetAddress" class="form-control border-0 shadow" />
                            <label asp-for="Company.StreetAddress" class="ms-2"></label>
                            <span asp-validation-for="Company.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.City" class="form-control border-0 shadow" />
                            <label asp-for="Company.City" class="ms-2"></label>
                            <span asp-validation-for="Company.City" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.State" class="form-control border-0 shadow" />
                            <label asp-for="Company.State" class="ms-2"></label>
                            <span asp-validation-for="Company.State" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.PostalCode" class="form-control border-0 shadow" />
                            <label asp-for="Company.PostalCode" class="ms-2"></label>
                            <span asp-validation-for="Company.PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Company.PhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="Company.PhoneNumber" class="ms-2"></label>
                            <span asp-validation-for="Company.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                @if (Model.Company.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}